<h1 class="text-4xl mb-6 font-bold">Welcome to Schrankorga</h1>
<main class="p-4 border rounded bg-white">
  <h2 class="text-xl mb-4 text-pink-600">Reset password</h2>
  <form
    [formGroup]="resetForm"
    class="flex flex-col min-w-80"
    (ngSubmit)="resetPassword()"
  >
    <mat-form-field>
      <mat-label> Email </mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <div class="flex justify-between">
      <a routerLink="/login" mat-stroked-button> Back</a>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="resetForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</main>
