<main class="p-4 border rounded bg-white m-10">
  <h1 class="text-4xl mb-6 font-bold">My collections</h1>
  <button (click)="createCollection()" mat-flat-button color="primary">
    <mat-icon>add</mat-icon> Add collection
  </button>
  <div class="p-4 grid grid-cols-3 gap-4 max-w-full">
    @for (collection of collections(); track collection.id) {
      <div>
        <h3>{{ collection.name }}</h3>
        @if (collection.image) {
          <app-image-download [image]="collection.image"></app-image-download>
        }
      </div>
    }
  </div>
</main>
